@import "variables.scss";

.controls {
    .content {
        button {
            background-color: $lightGray;
            border: none;
            border-radius: 5px;
            padding: 5px;
            color: white;
            display: block;
            margin: 5px 0px;
            width: 50%;
            cursor: pointer;
            outline: none;
        }

        button:hover {
            background-color: $darkGray;
        }

        .runStatus {
            .animatedDot { animation: blink 1s ease-in-out infinite; }
            @keyframes blink {
                0% { opacity: 1; }
                50% { opacity: 0; }
            }
        }

        .runStatus.running { color: green }
        .runStatus.stopped { color: white }
    }
}