@import "variables.scss";

.romPanel {
    #romInput {
        display: none !important;
    }

    #uploadButton {
        float: right;
    }

    tr > td:last-child {
        font-family: monospace;
        font-weight: bold;
        color: $blue;
        padding-left: 20px;
    }

    button {
        background-color: transparent;
        cursor: pointer;
        border-radius: 5px;
        border: solid 1px black;
        outline: none;
    }
}