@import "variables.scss";

.assembledProgram {
    grid-row-start: 2;
    grid-row-end: 4;

    .content {
        height: 100%;

        table {
            tr {
                width: 100%;

                td {
                    width: 100%;
                }

                td.address {
                    color: $lightGray;
                }

                td.instruction {
                    text-align: right;
                }

                td.currentLine {
                    color: white;
                    border-bottom: solid 1px orange;
                }

            }
        }
    }

}