@import 'variables.scss';

.editor {
    font-family: monospace;
    border: solid 1px $lightGray;
    border-radius: 5px;
    background-color: $lightestGray;
    overflow-y: auto;
    grid-row-start: 2;
    grid-row-end: 4;

    .content {
        overflow-y: scroll;
        height: 100%;
    }

    .editorLine {
        display: flex;

        .lineNumber {
            width: 35px;
            user-select: none;
        }
        .lineContent {
            flex: 1;
        }
    }

    .editorLine.currentLine {
        background-color: $darkGray;
    }

    .row:hover {
        .lineNumber {
            color: $white;
        }
        .lineText {
            background-color: $darkBlue;
        }
    }

}